html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.button {
    background-color: #7b7a7a;
}

.link {
    border: 1px solid #2b2a2a;
    box-shadow: 4px 5px 3px 0px #443833;
    padding: 2px;
    text-decoration: none;
}

.link:hover {
    outline: none;
}

.link:visited {
    color: #545353;
}

.body {
    max-width: 1000px;
    padding: 50px;
    border: 1px solid #343333;
    background-color: #e0dddd;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.1;
    overflow-x: auto;
    color: #2b2a2a;
}

.tableContainer {
    overflow-x: auto;
}

.dark {
    color: #827b7b;
    background: #272222;
}

.poster img {
    float: left;
    margin-right: 30px;
    height: 150px;
    width: 100px;
    background-color: #FFFFFF;
    box-shadow: 4px 5px 3px 0px #443833;
}

.header {
    border: 1px solid #443833;
    position: relative;
    box-shadow: 8px 11px 5px 0px #443833;
}

.tableRow:nth-child(even) {
    background: #cbc9c9;
}

.tableRow:hover {
    background: #a29f9f;
}

.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table__cell {
    border: 1px solid #212121;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.table__header {
    background-color: #b3b0b0;
}

.caption {
    margin-bottom: 20px;
}

.footer {
    background: #bbbaba;
    font-size: 15px;
    border: 2px solid #808080;
    outline: 1px solid #3d3d3d;
}

.article {
    max-height: auto;
    text-align: justify;
    position: relative;
    box-shadow: 8px 11px 5px 0px #443833;
    border-left: 1px solid #3b3a3a;
}

.article__title {
    text-align: left;
    background-color: #3b3a3a;
    color: #7e7e7e;
}

.article__content {
    text-align: justify;
    min-height: 150px;
    height: auto;
    width: auto;
    padding-right: 10px;
}